<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserMapper">

    <select id="findByUsername" parameterType="String" resultType="com.example.entity.User">
        select user_id, username, password, nickname, activated
        from user_tb
        where username = #{username}
    </select>
    <select id="findAuthorityByUserId" resultType="com.example.entity.Authority">
        select user_id, authority_name
        from user_authority
        where user_id = #{userId}
    </select>

</mapper>
